/* commen responsive css  */
@media screen and (max-width:1699px) {
    .nrt-logo {
        max-width: 300px;
    }
}
@media screen and (max-width:1599px) {
    .pro-sld-main img {
        max-width: 216px;
    }
    .nrt-ills::before, .nrt-ills::after {
        height: calc(100% - 402px);
    }
    .nrt-logo {
        max-width: 300px;
        margin: 410px auto 0;
    }
}
@media screen and (max-width:1499px){
    .hero-banner .banner-left img {
        max-width: 480px;
    }
    .hero-banner .banner-right .h1-title {
        font-size: 90px;
    }
    .hero-banner .banner-right .h1-title span {
        font-size: 44px;
    }
    .hash-sec {
        margin-bottom: 80px;
    }
    .hero-banner::after {
        width: 800px;
        height: 800px;
    }
    .white-sec::before {
        bottom: -60px;
        height: 290px;
    }
    .nrt-ills::before, .nrt-ills::after {
        height: calc(100% - 390px);
    }
    .nrt-logo {
        max-width: 280px;
        margin: 390px auto 0;
    }
    .nrt-top .text-center {
        font-size: 28px;
        max-width: 550px;
    }
}
@media screen and (max-width:1399px) {
    .hero-banner .banner-left {
        margin-top: 40px;
    }
    .hero-banner .banner-left img {
        max-width: 400px;
    }
    .hero-banner .banner-right .h1-title {
        font-size: 80px;
    }
    .hero-banner .banner-right .h1-title span {
        font-size: 40px;
    }
    .hero-banner .banner-oil-cont .bnr-oil img {
        max-width: 120px;
    }
    .hero-banner .banner-left .banner-heart img:nth-child(1) {
        width: 130px;
        height: 130px;
    }
    .hero-banner .banner-left .banner-heart img:nth-child(2) {
        width: 40px;
        height: 40px;
    }
    .hero-banner .banner-left .banner-heart img:nth-child(3) {
        width: 80px;
        height: 80px;
    }
    .hero-banner .banner-left .banner-heart img:nth-child(4) {
        width: 40px;
        height: 40px;
    }
    .hero-banner .banner-left .banner-heart img:nth-child(5) {
        width: 100px;
        height: 100px;
    }
    .hero-banner .banner-left .banner-heart img:nth-child(6) {
        width: 30px;
        height: 30px;
    }
    .hero-banner .banner-left .banner-heart img:nth-child(7) {
        width: 100px;
        height: 100px;
    }
    .hero-banner .banner-left .banner-heart img:nth-child(8) {
        width: 150px;
        height: 150px;
    }
    .leaf-sec::before,.leaf-sec::after {
        width: 220px;
        height: 210px;
    }
    .leaf-sec::before{
        top: 50px;
    }
    .pro-sld-main img {
        max-width: 200px;
    }
    .pro-sld-main a {
        font-size: 26px;
        max-width: 240px;
    }
    .pro-sld-main img {
        max-width: 180px;
    }
    .pro-sld-main {
        padding: 60px 0 60px;
    }
    .nrt-logo {
        max-width: 272px;
    }
    .nrt-section .h1-title,.vimal-journey .h1-title,.recipe-section .h1-title {
        font-size: 74px;
    }
    .footer-quick-links h4,.ft-add h4,.footer .about-us-col .text-content .h3-title {
        font-size: 28px;
    }
    .footer .footer-quick-links ul li a {
        font-size: 20px;
    }
    .ft-add a,.ft-cont a {
        font-size: 22px;
    }
    .footer .about-us-col .text-content .para {
        font-size: 21px;
    }
    .footer .about-us-col .footer-logo img {
        height: 160px;
    }
    .jorney-main .tab-content .j-para .j-year {
        font-size: 70px;
    }
    .leaf-sec::before, .leaf-sec::after {
        width: 170px;
        height: 170px;
        right: -100px;
    }
    .leaf-sec::after {
        right: auto;
        left: -110px;
    }
    .falling-leaf > div:nth-child(1) img {
        width: 50px;
    }
    .falling-leaf > div:nth-child(2) img {
        width: 70px;
    }
    .falling-leaf > div:nth-child(3) img {
        width: 60px;
    }
    .jorney-main .slide-img img {
        width: 100%;
    }
}
@media screen and (max-width:1299px) {
    .nrt-logo {
        max-width: 263px;
    }
    .nrt-top .text-center {
        font-size: 24px;
    }
    .h2-title,.oil-quiz .h2-title,.animate-text span {
        font-size: 45px;
    }
    .nrt-section .h2-title {
        font-size: 70px;
    }
    .animate-text {
        max-width: 450px;
    }
    .default-section,.nrt-section.default-section,.ft-top {
        padding: 60px 0px;
    }
    .hero-banner.default-section{
        padding-bottom: 0;
    }
    .health-section {
        padding-top: 70px;
    }
}
@media screen and (max-width:1199px) {
    .header {
        padding: 10px 15px;
    }
    .hero-banner .banner-left img {
        max-width: 300px;
    }
    .hero-banner .banner-right .h1-title {
        font-size: 60px;
    }
    .hero-banner .banner-right .h1-title span {
        font-size: 28px;
    }
    .header {
        padding: 10px 15px;
    }
    .hash-sec {
        margin-bottom: 40px;
    }
    .hash-sec span {
        font-size: 20px;
    }
    .hero-banner .banner-oil-cont .bnr-oil img {
        max-width: 80px;
    }
    .hero-banner .banner-left .banner-heart img:nth-child(1) {
        width: 100px;
        height: 100px;
    }
    .hero-banner .banner-left .banner-heart img:nth-child(2),.hero-banner .banner-left .banner-heart img:nth-child(4) {
        width: 30px;
        height: 30px;
    }
    .hero-banner .banner-left .banner-heart img:nth-child(3),.hero-banner .banner-left .banner-heart img:nth-child(7) {
        width: 60px;
        height: 60px;
    }
    .hero-banner .banner-left .banner-heart img:nth-child(7){
        top: 430px;
    }
    .hero-banner .banner-left .banner-heart img:nth-child(5) {
        width: 70px;
        height: 70px;
        left: 0;
    }
    .hero-banner .banner-left .banner-heart img:nth-child(8) {
        width: 80px;
        height: 80px;
        top: 350px;
    }
    .header .navbar {
        padding: 0;
    }
    .hero-banner .owl-dots .owl-dot {
        width: 18px;
        height: 18px;
    }
    .hero-banner .owl-dots .owl-dot::before {
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 18px solid rgb(255, 255, 255);
    }
    .hero-banner .owl-dots .owl-dot.active::before {
        border-bottom: 18px solid #0c54a0;
    }
    .sub-text {
        max-width: 720px;
    }
    .sub-text p {
        font-size: 24px;
    }
    .h2-title {
        font-size: 35px;
    }
    .home-prod-sldr.owl-carousel {
        padding: 0;
    }
    .pro-sld-main a {
        font-size: 20px;
    }
    .pro-sld-main img {
        max-width: 200px;
    }
    .pro-sld-main a {
        max-width: 170px;
    }
    .nrt-ills::before, .nrt-ills::after {
        height: calc(100% - 397px);
    }
    .white-sec::before {
        bottom: -60px;
        height: 250px;
    }
    .nrt-logo {
        max-width: 220px;
        margin: 310px auto 0;
    }
    .footer .about-us-col .footer-logo img {
        height: 120px;
    }
    .footer-quick-links h4, .ft-add h4, .footer .about-us-col .text-content .h3-title {
        font-size: 24px;
    }
    .footer .about-us-col .text-content .para {
        font-size: 18px;
    }
    .footer .footer-quick-links ul li a {
        font-size: 17px;
    }
    .ft-add a, .ft-cont a {
        font-size: 18px;
    }
    .socials li a {
        width: 50px;
        height: 50px;
    }
    .ft-cont {
        margin: 20px 0;
    }
}
@media screen and (max-width:991px) {
    .pro-vdo-sld.owl-carousel .owl-stage {
        padding: 0;
    }
    .nrt-ills::before, .nrt-ills::after {
        height: calc(100% - 390px);
    }
    .white-sec::before {
        bottom: -60px;
        height: 240px;
    }
    .nrt-logo {
        max-width: 200px;
        margin: 310px auto 0;
    }
    .footer .about-us-col .footer-logo img {
        height: 90px;
    }
    .footer .about-us-col .text-content .para {
        margin: 10px 0 20px;
    }
    .footer input[type="email"] {
        padding: 8px 12px;
    }
    .email .form .submit-button {
        margin-top: 10px;
    }
    .submit-button .btn-effect {
        max-width: 150px;
        padding: 8px 0;
        font-size: 18px;
    }
    .ft-connect {
        display: block;
        width: 100%;
        max-width: 500px;
        margin: 30px auto 0;
        text-align: center;
    }
    .ft-top {
        padding: 40px 0 20px;
    }
    .ft-cont a + a {
        margin-top: 10px;
    }
    .copy-sec p, .copy-sec a {
        font-size: 18px;
    }
    .copy-sec {
        padding: 20px 0;
    }
    .droplets > div:nth-child(1) img,.droplets > div:nth-child(2) img {
        width: 40px;
    }
    .droplets > div:nth-child(3) img,.droplets > div:nth-child(7) img{
        width: 35px;
    }
    .droplets > div:nth-child(4) img,.droplets > div:nth-child(9) img{
        width: 25px;
    }
    .droplets > div:nth-child(8) img{
        width: 20px;
    }
    .nrt-section .h2-title {
        font-size: 60px;
    }
    .jorney-main .tab-content .j-para {
        font-size: 18px;
        max-width: 100%;
        margin: 30px auto 0;
    }
    .jorney-main .tab-content .j-para .j-year {
        font-size: 50px;
        margin-bottom: 10px;
    }
    .jorney-main .nav-pills .nav-link span {
        font-size: 20px;
    }
    .oil-quiz-left img {
        width: 100%;
        max-width: 270px;
    }
    .oil-quiz p {
        font-size: 20px;
    }
    .social-sec p {
        font-size: 20px;
        max-width: 350px;
    }
}
@media screen and (max-width:767px) {
    .h1-title {
        color: #ffdd00;
        text-transform: capitalize;
        font-size: 60px;
        line-height: 1.2;
        font-weight: 600;
    }
    .h2-blue {
        display: inline-block;
        width: 100%;
        color: #ffffff;
        text-align: center;
        font-size: 26px;
        font-weight: 500;
        line-height: 1.3;
        margin-bottom: 10px;
        padding: 0;
    }
    .h2-white{
        display: inline-block;
        width: 100%;
        color: #0c56a1;
        text-align: center;
        font-size: 26px;
        font-weight: 500;
        line-height: 1.3;
        margin-bottom: 10px;
        padding: 0;
    }
    .hero-banner .banner-slider .item > .row {
        display: flex;
        flex-direction: column-reverse;
    }
    .hero-banner .banner-oil-cont.desk {
        display: none;
    }
    .hero-banner .banner-oil-cont.mob {
        display: block;
    }
    .hero-banner .banner-left {
        display: inline-block;
    }
    .hero-banner .banner-oil-cont.mob {
        display: flex;
        position: absolute;
        bottom: -10px;
        width: 100%;
        left: 0;
        right: 0;
        margin: 0 auto;
        max-width: 220px;
    }
    .hero-banner .banner-oil-cont .bnr-oil.center {
        top: 10px;
    }
    .hero-banner .banner-oil-cont .bnr-oil.left {
        margin-right: 30px;
    }
    .h2-title{
        text-align: center;
        font-size: 35px;
        color: #ffffff;
    }
    .nrt-section .h2-title {
        font-size: 40px;
    }
    .h2-title, .oil-quiz .h2-title, .animate-text span {
        font-size: 35px;
    }
    .animate-text {
        max-width: 350px;
    }
    .nrt-section p {
        font-size: 20px;
        margin: 20px auto;
    }
    .header{
        width: 100%;
        padding: 15px 0px;
    } 
    .nav-menu .logo img{
        width: auto;
        height: 70px;
    } 
    .footer{
        text-align: center;
    }
    .default-section {
        padding: 30px 0px;
    }
    .banner-slider {
        margin-top: 70px;
    }
    .hero-banner .banner-right .h1-title {
        font-size: 50px;
    }
    .hero-banner .banner-right .h1-title span {
        font-size: 24px;
    }
    .hero-banner .banner-left {
        margin-top: 0;
    }
    .hero-banner.default-section{
        padding-bottom: 0;
    }
    .hero-banner .banner-left .banner-heart img:nth-child(1) {
        width: 80px;
        height: 80px;
        top: 150px;
        left: 50px;
    }
    .hero-banner .banner-left .banner-heart img:nth-child(2) {
        left: 40px;
        top: 210px;
    }
    .hero-banner .banner-left .banner-heart img:nth-child(3) {
        top: 200px;
        left: 80%;
    }
    .hero-banner .banner-left .banner-heart img:nth-child(4) {
        top: 260px;
        left: 90%;
    }
    .hero-banner .banner-left .banner-heart img:nth-child(5) {
        left: 20px;
    }
    .hero-banner .banner-left .banner-heart img:nth-child(6) {
        left: 80%;
    }
    .hero-banner .banner-left .banner-heart img:nth-child(7) {
        left: 70px;
    }
    .hero-banner .banner-left .banner-heart img:nth-child(8) {
        top: 380px;
        left: 80%;
        animation-delay: 0.5s;
    }
    .hero-banner .owl-dots {
        bottom: -23px;
        margin: 0;
    }
    .hero-banner .owl-dots .owl-dot {
        width: 14px;
        height: 14px;
    }
    .hero-banner .owl-dots .owl-dot::before {
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 12px solid rgb(255, 255, 255);
        top: -8px;
    }
    .hero-banner .owl-dots .owl-dot.active::before {
        border-bottom: 12px solid #0c54a0;
    }
    .hero-banner .owl-dots .owl-dot + .owl-dot {
        margin-left: 15px;
    }
    .hero-banner .owl-dots .owl-dot.active::after {
        width: 6px;
        height: 6px;
        box-shadow: 1px 1px 0 0 white;
        right: 4px;
        bottom: 4px;
    }
    .health-section.default-section {
        padding: 70px 0;
    }
    .sub-text p {
        font-size: 20px;
    }
    .pro-sld-main {
        padding: 30px 10px 30px;
    }
    .sub-text {
        padding: 0 15px;
    }
    .nrt-top .text-center {
        font-size: 20px;
    }
    .nrt-ills::before, .nrt-ills::after {
        height: calc(100% - 391px);
    }
    .droplets {
        top: 110px;
    }
    .white-sec::before {
        bottom: -50px;
        height: 217px;
    }
    .nrt-logo {
        max-width: 180px;
        margin: 180px auto 0;
        padding: 30px;
    }
    .pro-vdo-sld .video-sld img {
        height: 400px;
        object-fit: cover;
        object-position: center;
    }
    .footer .about-us-col .text-content .para {
        font-size: 16px;
    }
    .footer-quick-links {
        margin-top: 30px;
    }
    .footer .footer-quick-links ul {
        text-align: left;
    }
    .two-col {
        justify-content: space-evenly;
    }
    .footer .footer-quick-links ul li + li {
        margin-top: 10px;
    }
    .footer .footer-quick-links ul {
        padding: 0;
        margin: 0;
    }
    .pro-sld-main a {
        font-size: 18px;
    }
    .jorney-main .nav-pills .nav-link {
        width: 33.33%;
    }
    .jorney-main .nav {
        margin: 30px 0;
    }
    .recipe-section .submit-button {
        margin: 30px 0;
    }

    /* contact-page css  */
    .map-part{
        margin-top: 25px;
    }

}
@media screen and (max-width:575px) {
    .pro-sld-main a {
        font-size: 15px;
        max-width: 140px;
    }
    .nrt-logo {
        max-width: 162px;
        margin: 180px auto 0;
        padding: 20px;
    }
    .white-sec::before {
        height: 198px;
    }
    .nrt-ills::before, .nrt-ills::after {
        height: calc(100% - 376px);
    }
    .droplets > div:nth-child(1) img,.droplets > div:nth-child(2) img {
        width: 20px;
    }
    .droplets > div:nth-child(3) img,.droplets > div:nth-child(7) img{
        width: 15px;
    }
    .droplets > div:nth-child(4) img,.droplets > div:nth-child(9) img{
        width: 15px;
    }
    .droplets > div:nth-child(8) img,.droplets > div:nth-child(5) img{
        width: 10px;
    }
    .droplets > div:nth-child(10) img,.droplets > div:nth-child(6) img {
        width: 15px;
    }
    .droplets > div:nth-child(11) img {
        width: 20px;
    }
}
@media screen and (max-width:479px) {
    .pro-sld-main a {
        font-size: 16px;
        max-width: 140px;
    }
    .nrt-ills::before, .nrt-ills::after {
        height: calc(100% - 318px);
        top: 212px;
    }
    .white-sec::before {
        height: 188px;
    }
    .nrt-logo {
        margin: 280px auto 0;
    }
    .nrt-top .text-center {
        font-size: 18px;
    }
    .pro-vdo-sld.owl-carousel .item {
        padding: 0;
    }
    .footer .footer-quick-links ul li a {
        font-size: 15px;
    }
}
@media screen and (max-width:359px) {
    .pro-sld-main a {
        font-size: 16px;
    }
    .jorney-main .nav-pills .nav-link {
        width: 33.33%;
        padding: 0;
    }
    .animate-text span {
        font-size: 30px;
    }
    .nrt-ills::before, .nrt-ills::after {
        height: calc(100% - 375px);
        top: 250px;
    }
}