/* commen responsive css  */
@media screen and (max-width:1699px) {
    .nrt-logo {
        max-width: 300px;
    }
}
@media screen and (max-width:1599px) {
    .pro-sld-main img {
        max-width: 216px;
    }
    .nrt-ills::before, .nrt-ills::after {
        height: calc(100% - 402px);
    }
    .nrt-logo {
        max-width: 300px;
        margin: 410px auto 0;
    }
    .video-banner .text-middle {
        padding: 260px 0 180px;
    }
}
@media screen and (max-width:1499px){
    .banner-info {
        padding: 30px 130px 80px;
    }
    .hero-banner .banner-info {
        padding: 30px 80px 120px;
    }
    .hero-banner .banner-right .h1-title {
        font-size: 90px;
    }
    .hero-banner .banner-right .h1-title span {
        font-size: 44px;
    }
    .white-sec::before {
        bottom: -60px;
        height: 290px;
    }
    .nrt-ills::before, .nrt-ills::after {
        height: calc(100% - 390px);
    }
    .nrt-logo {
        max-width: 280px;
        margin: 390px auto 0;
    }
    .nrt-top .text-center {
        font-size: 28px;
        max-width: 550px;
    }
    .form-part .form-inner {
        padding: 30px 40px;
    }
    .form-left .h2-white {
        letter-spacing: 2px;
        font-size: 39px;
    }
    .form-left p {
        font-size: 22px;
    }
    .inner-bnr-img img {
        width: 100%;
        max-width: 500px;
        display: block;
        margin: 0 auto;
    }
    .video-banner .text-middle {
        padding: 220px 0 160px;
    }
}
@media screen and (max-width:1399px) {
    .hero-banner .banner-left {
        margin-top: 40px;
    }
    .hero-banner .banner-info {
        padding: 30px 60px 90px;
    }
    .hero-banner .banner-right .h1-title,.inner-banner .banner-right .h1-title {
        font-size: 80px;
    }
    .hero-banner .banner-right .h1-title span, .inner-banner .banner-right .h1-title span {
        font-size: 40px;
    }
    .hero-banner .banner-oil-cont .bnr-oil img {
        max-width: 120px;
    }
    .hero-banner .banner-left .banner-heart img:nth-child(1) {
        width: 130px;
        height: 130px;
    }
    .hero-banner .banner-left .banner-heart img:nth-child(2) {
        width: 40px;
        height: 40px;
    }
    .hero-banner .banner-left .banner-heart img:nth-child(3) {
        width: 80px;
        height: 80px;
    }
    .hero-banner .banner-left .banner-heart img:nth-child(4) {
        width: 40px;
        height: 40px;
    }
    .hero-banner .banner-left .banner-heart img:nth-child(5) {
        width: 100px;
        height: 100px;
    }
    .hero-banner .banner-left .banner-heart img:nth-child(6) {
        width: 30px;
        height: 30px;
    }
    .hero-banner .banner-left .banner-heart img:nth-child(7) {
        width: 100px;
        height: 100px;
    }
    .hero-banner .banner-left .banner-heart img:nth-child(8) {
        width: 150px;
        height: 150px;
    }
    .leaf-sec::before,.leaf-sec::after,.nrt-section::before {
        width: 220px;
        height: 210px;
    }
    .leaf-sec::before,.nrt-section::before{
        top: 50px;
    }
    .pro-sld-main img {
        max-width: 200px;
    }
    .pro-sld-main a {
        font-size: 26px;
        max-width: 240px;
    }
    .pro-sld-main img {
        max-width: 180px;
    }
    .pro-sld-main {
        padding: 60px 0 60px;
    }
    .nrt-logo {
        max-width: 272px;
    }
    .nrt-section .h1-title,.vimal-journey .h1-title,.recipe-section .h1-title {
        font-size: 74px;
    }
    .footer-quick-links h4,.ft-add h4,.footer .about-us-col .text-content .h3-title {
        font-size: 28px;
    }
    .footer .footer-quick-links ul li a {
        font-size: 20px;
    }
    .ft-add a,.ft-cont a {
        font-size: 22px;
    }
    .footer .about-us-col .text-content .para {
        font-size: 21px;
    }
    .footer .about-us-col .footer-logo img {
        height: 160px;
    }
    .jorney-main .tab-content .j-para .j-year {
        font-size: 70px;
    }
    .leaf-sec::before, .leaf-sec::after,.nrt-section::before {
        width: 170px;
        height: 170px;
        right: -100px;
    }
    .leaf-sec::after {
        right: auto;
        left: -90px;
    }
    .nrt-section::before{
        right: -100px;
        left: auto;
    }
    .falling-leaf > div:nth-child(1) img {
        width: 50px;
    }
    .falling-leaf > div:nth-child(2) img {
        width: 70px;
    }
    .falling-leaf > div:nth-child(3) img {
        width: 60px;
    }
    .jorney-main .slide-img img {
        width: 100%;
    }
    .form-part .form-inner {
        padding: 30px 30px;
    }
    .oil-quiz-left img {
        max-width: 300px;
    }
    .dp_item {
        right: 17%;
    }
    .nrt-section::after {
        width: 71px;
        height: 182px;
    }
    .floating-ele img:nth-child(1) {
        width: 120px;
    }
    .floating-ele img:nth-child(2) {
        width: 150px;
        left: 13%;
    }
    .floating-ele img:nth-child(3) {
        width: 70px;
    }
    .floating-ele.right img:nth-child(1) {
        width: 64px;
    }
    .floating-ele.right img:nth-child(2) {
        width: 120px;
    }
    .floating-ele.right img:nth-child(3) {
        width: 32px;
    }
    .floating-ele.right img:nth-child(4) {
        width: 63px;
    }
    .floating-ele.right img:nth-child(5) {
        width: 100px;
    }
    .animate-text {
       max-width: 490px;
    }
    .animate-text span {
        font-size: 48px;
    }
    .floating-obj img:nth-child(1) {
        left: 15%;
        top: 10%;
        width: 110px;
    }
    .floating-obj img:nth-child(2) {
        left: 45%;
        width: 110px;
    }
    .floating-obj img:nth-child(3) {
        left: 90%;
        top: 10px;
        width: 140px;
    }
    .floating-obj img:nth-child(4) {
        width: 80px;
    }
    .floating-obj img:nth-child(5) {
        bottom: -2%;
        left: 37%;
        width: 100px;
    }
    .floating-obj img:nth-child(6) {
        bottom: 4%;
        right: 20%;
        width: 70px;
    }
    .counter-main .count-box .counter, .counter-main .count-box .counter + span {
        font-size: 60px;
    }
    .counter-main .count-box .count-name {
        font-size: 26px;
    }
    .counter-main {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        align-content: flex-start;
        gap: 15px;
    }
    .counter-main {
        gap: 15px;
    }
    .lab-ele img:nth-child(1) {
        width: 120px;
    }
    .lab-ele img:nth-child(2) {
        width: 110px;
    }
    .lab-ele img:nth-child(3) {
        width: 70px;
    }
    .lab-ele img:nth-child(4) {
        width: 75px;
    }
    .lab-ele img:nth-child(5) {
        width: 110px;
    }
    .lab-ele img:nth-child(6) {
        width: 80px;
    }
    .quiz-sec .panel-footer #question {
        font-size: 32px;
    }
    .quiz-sec .panel-footer #answers .options label {
        font-size: 22px;
        padding: 10px;
        padding-left: 70px;
    }
}
@media screen and (max-width:1299px) {
    .nrt-logo {
        max-width: 263px;
    }
    .nrt-top .text-center {
        font-size: 24px;
    }
    .h2-title,.oil-quiz .h2-title,.animate-text span {
        font-size: 45px;
    }
    .nrt-section .h2-title {
        font-size: 70px;
    }
    .animate-text {
        max-width: 450px;
    }
    .nrt-section.default-section,.ft-top {
        padding: 60px 0px;
    }
    .hero-banner.default-section{
        padding-bottom: 0;
    }
    .health-section {
        padding-top: 70px;
    }
    .form-inner .h2-white {
        font-size: 29px;
    }
    .form-part .form-image-part img {
        max-width: 260px;
    }
    #dp-next {
        right: 0;
    }
    #dp-prev{
        left: 0;
    }
    #dp-slider, .dp-img img {
        height: 240px;
    }
    .floating-obj img:nth-child(5) {
        bottom: -30px;
    }
    .inner-banner,.quiz-sec{
        padding: 140px 0 60px;
    }
    .panel-footer #back {
        font-size: 20px;
    }
}
@media screen and (max-width:1199px) {
    .header {
        padding: 10px 15px;
    }
    .hero-banner .banner-info {
        padding: 30px 30px 70px;
    }
    .hero-banner .banner-right .h1-title,.inner-banner .banner-right .h1-title {
        font-size: 60px;
    }
    .hero-banner .banner-right .h1-title span,.inner-banner .banner-right .h1-title span {
        font-size: 28px;
    }
    .header,.header.nav-down {
        padding: 10px 15px;
    }
    .hash-sec span {
        font-size: 20px;
    }
    .hero-banner .banner-oil-cont .bnr-oil img {
        max-width: 80px;
    }
    .hero-banner .banner-left .banner-heart img:nth-child(1) {
        width: 100px;
        height: 100px;
    }
    .hero-banner .banner-left .banner-heart img:nth-child(2),.hero-banner .banner-left .banner-heart img:nth-child(4) {
        width: 30px;
        height: 30px;
    }
    .hero-banner .banner-left .banner-heart img:nth-child(3),.hero-banner .banner-left .banner-heart img:nth-child(7) {
        width: 60px;
        height: 60px;
    }
    .hero-banner .banner-left .banner-heart img:nth-child(7){
        top: 430px;
    }
    .hero-banner .banner-left .banner-heart img:nth-child(5) {
        width: 70px;
        height: 70px;
        left: 0;
    }
    .hero-banner .banner-left .banner-heart img:nth-child(8) {
        width: 80px;
        height: 80px;
        top: 350px;
    }
    .header .navbar {
        padding: 0;
    }
    .hero-banner .owl-dots .owl-dot {
        width: 18px;
        height: 18px;
    }
    .hero-banner .owl-dots .owl-dot::before {
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 18px solid rgb(255, 255, 255);
    }
    .hero-banner .owl-dots .owl-dot.active::before {
        border-bottom: 18px solid #0c54a0;
    }
    .sub-text {
        max-width: 720px;
    }
    .sub-text p {
        font-size: 24px;
    }
    .h2-title {
        font-size: 35px;
    }
    .home-prod-sldr.owl-carousel {
        padding: 0
    }
    .pro-sld-main a {
        font-size: 20px;
    }
    .pro-sld-main img {
        max-width: 200px;
    }
    .pro-sld-main a {
        max-width: 170px;
    }
    .nrt-ills::before, .nrt-ills::after {
        height: calc(100% - 397px);
    }
    .white-sec::before {
        bottom: -60px;
        height: 250px;
    }
    .nrt-logo {
        max-width: 220px;
        margin: 310px auto 0;
    }
    .footer .about-us-col .footer-logo img {
        height: 120px;
    }
    .footer-quick-links h4, .ft-add h4, .footer .about-us-col .text-content .h3-title {
        font-size: 24px;
    }
    .footer .about-us-col .text-content .para {
        font-size: 18px;
    }
    .footer .footer-quick-links ul li a {
        font-size: 17px;
    }
    .ft-add a, .ft-cont a {
        font-size: 18px;
    }
    .socials li a {
        width: 50px;
        height: 50px;
    }
    .ft-cont {
        margin: 20px 0;
    }
    .h2-blue,.h2-white {
        font-size: 45px;
    }
    .h3-ttl {
        font-size: 30px;
    }
    .social-sec p {
        font-size: 24px;
        line-height: 1.4;
        max-width: 380px;
    }
    .dp_item {
        width: 300px;
    }
    #dp-next, #dp-prev {
        height: 50px;
        width: 50px;
    }
    .floating-ele.right img:nth-child(1) {
        top: -5%;
    }
    .floating-ele img:nth-child(2) {
        left: 9%;
    }
    .nrt-section p {
        font-size: 24px;
        max-width: 540px;
    }
    .form-part .form-image-part img {
        max-width: 190px;
    }
    .floating-obj img:nth-child(1) {
        top:1%;
    }
    .form-left .h2-white {
        letter-spacing: 1px;
        font-size: 27px;
    }
    .form-left p {
        font-size: 20px;
    }
    .counter-main .count-box .counter, .counter-main .count-box .counter + span {
        font-size: 50px;
    }
    .counter-main .count-box .count-name {
        font-size: 22px;
    }
    .video-banner .text-middle {
        padding: 220px 0 130px;
    }
}
@media screen and (max-width:991px) {
    .pro-vdo-sld.owl-carousel .owl-stage {
        padding: 0;
    }
    .nrt-ills::before, .nrt-ills::after {
        height: calc(100% - 390px);
    }
    .white-sec::before {
        bottom: -60px;
        height: 240px;
    }
    .nrt-logo {
        max-width: 200px;
        margin: 310px auto 0;
    }
    .footer .about-us-col .footer-logo img {
        height: 90px;
    }
    .footer .about-us-col .text-content .para {
        margin: 10px 0 20px;
    }
    .footer input[type="email"] {
        padding: 8px 12px;
    }
    .email .form .submit-button {
        margin-top: 10px;
    }
    .submit-button .btn-effect {
        max-width: 150px;
        padding: 8px 0;
        font-size: 18px;
    }
    .ani .submit-button .btn-effect {
        max-width: 120px;
        padding: 8px 0px;
        font-size: 18px;
    }
    .ft-connect {
        display: block;
        width: 100%;
        max-width: 500px;
        margin: 30px auto 0;
        text-align: center;
    }
    .ft-top {
        padding: 40px 0 20px;
    }
    .ft-cont a + a {
        margin-top: 10px;
    }
    .copy-sec p, .copy-sec a {
        font-size: 18px;
    }
    .copy-sec {
        padding: 20px 0;
    }
    .droplets > div:nth-child(1) img,.droplets > div:nth-child(2) img {
        width: 40px;
    }
    .droplets > div:nth-child(3) img,.droplets > div:nth-child(7) img{
        width: 35px;
    }
    .droplets > div:nth-child(4) img,.droplets > div:nth-child(9) img{
        width: 25px;
    }
    .droplets > div:nth-child(8) img{
        width: 20px;
    }
    .nrt-section .h2-title {
        font-size: 60px;
    }
    .jorney-main .tab-content .j-para {
        font-size: 18px;
        max-width: 100%;
        margin: 30px auto 0;
    }
    .jorney-main .tab-content .j-para .j-year {
        font-size: 50px;
        margin-bottom: 10px;
    }
    .jorney-main .nav-pills .nav-link span {
        font-size: 20px;
    }
    .oil-quiz-left img {
        width: 100%;
        max-width: 270px;
    }
    .oil-quiz p {
        font-size: 20px;
    }
    .social-sec p {
        font-size: 20px;
        max-width: 350px;
    }
    .nrt-section .h1-title, .vimal-journey .h1-title, .recipe-section .h1-title {
        font-size: 64px;
    }
    .nrt-section .h1-title {
        margin-bottom: 10px;
    }
    .dp_item {
        width: 460px;
    }
    .social-sec {
        margin-top: 50px;
    }
    .floating-ele img:nth-child(1) {
        width: 100px;
    }
    .floating-ele img:nth-child(2) {
        width: 100px;
    }
    .floating-ele img:nth-child(3) {
        width: 50px;
        left: 15%;
    }
    .floating-ele.right img:nth-child(1) {
        width: 44px;
    }
    .floating-ele.right img:nth-child(2) {
        width: 80px;
        left: 75%;
    }
    .floating-ele.right img:nth-child(4) {
        width: 43px;
    }
    .floating-ele.right img:nth-child(5) {
        width: 70px;
    }
    .nr-det ul li h4 {
        font-size: 22px;
    }
    .nr-det ul li h4 span {
        font-size: 16px;
    }
    .nr-det ul {
        gap: 15px;
    }
    .nr-det ul li img {
        max-width: 100px;
    }
    .image-part{
        padding: 0;
    }
    .loc-img img {
        width: 100%;
        max-width: 300px;
        margin: 20px auto;
        display: block;
    }
    .inner-bnr-img {
        margin-top: 30px;
    }
    .inner-bnr-img img {
        max-width: 300px;
    }
    .quiz-sec .panel-footer #question {
        font-size: 28px;
    }
    .quiz-sec .panel-footer #question p {
        letter-spacing: 2px;
    }
    .quiz-sec .panel-footer #answers .options label {
        font-size: 20px;
    }
    .quiz-sec .panel-footer #answers .options label {
        padding-left: 50px;
    }
    .quiz-sec .panel-footer #answers .options label::before,.quiz-sec .panel-footer #answers input[type="radio"]:checked ~ label::before {
        width: 20px;
        height: 20px;
        left: 15px;
    }
    .home-prod-sldr.owl-carousel{
        padding: 0 20px;
    }


    /* Recipes Page */
    .reci-sec .row >div, .reci-sec .row >div:nth-last-child(-n+4){
        margin-top: 20px;
    }
    .reci-sec .row >div:nth-child(-n + 2) {
        margin-top:0;
    }

    /* branding page css  */
    .why-content{
        margin-top: 30px;
    }
    .social-post{
        margin-top: 100px;    
    }

    /* contact page css  */
    .cb-content{
        margin-top: 80px;
    }
    .wl-modal-lg .wl-modal-content {
        max-width: 600px;
    }
    .wl-video-modal .wl-modal-content .wl-modal-body iframe {
        min-height: 330px;
    }
    .video-banner .text-middle {
        padding: 180px 0 80px;
    }
    .wl-video-modal .wl-modal-content .wl-m-close {
        width: 30px;
        height: 30px;
        line-height: 22px;
    }

    /* oil-calendar css  */
    .season-oil .pr-name{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .season-oil .buy-btn a{
        padding: 8px 3px;
    }
    .buy-btn a img {
        width: 28px;
        margin-right: 5px;
    }
}
@media screen and (max-width:767px) {
    body{
        font-size: 18px;
    }
    .header, .header.nav-down {
        padding: 10px 0;
    }
    .hero-banner .banner-left img {
        max-width: 400px;
    }
    .hash-sec {
        margin: 20px 0;
    }
    .leaf-sec::before, .leaf-sec::after {
        width: 120px;
        height: 120px;
        right: -68px;
    }
    .leaf-sec::after {
        right: auto;
        left: -70px;
    }
    .oil-quiz-left img {
        max-width: 220px;
    }
    .h1-title {
        font-size: 60px;
    }
    .nrt-section .h1-title, .vimal-journey .h1-title, .recipe-section .h1-title {
        font-size: 54px;
    }
    .hero-banner .banner-info {
        padding: 30px 0px 70px;
    }
    .hero-banner .banner-slider .item > .row {
        display: flex;
        flex-direction: column-reverse;
    }
    .hero-banner .banner-oil-cont.desk {
        display: none;
    }
    .hero-banner .banner-oil-cont.mob {
        display: block;
    }
    .hero-banner .banner-left {
        display: inline-block;
    }
    .hero-banner .banner-oil-cont.mob {
        display: flex;
        position: absolute;
        bottom: -10px;
        width: 100%;
        left: 0;
        right: 0;
        margin: 0 auto;
        max-width: 220px;
    }
    .hero-banner .banner-oil-cont .bnr-oil.center {
        top: 10px;
    }
    .hero-banner .banner-oil-cont .bnr-oil.left {
        margin-right: 30px;
    }
    .h2-title{
        text-align: center;
        font-size: 35px;
        color: #ffffff;
    }
    .nrt-section .h2-title {
        font-size: 40px;
    }
    .h2-title, .oil-quiz .h2-title, .animate-text span,.h2-blue,.h2-white,.form-inner .h2-white {
        font-size: 36px;
    }
    .h4-title h4 {
        font-size: 22px;
    }
    .animate-text {
        max-width: 350px;
    }
    .nrt-section p {
        font-size: 20px;
        margin: 20px auto;
    }
    .header{
        width: 100%;
        padding: 15px 0px;
    } 
    .nav-menu .logo img{
        width: auto;
        height: 70px;
    } 
    .footer{
        text-align: center;
    }
    .banner-slider {
        margin-top: 70px;
    }
    .hero-banner .banner-right .h1-title, .inner-banner .banner-right .h1-title {
        font-size: 50px;
    }
    .hero-banner .banner-right .h1-title span, .inner-banner .banner-right .h1-title span {
        font-size: 24px;
    }
    .hero-banner .banner-left {
        margin-top:20px;
    }
    .hero-banner.default-section{
        padding-bottom: 0;
    }
    .hero-banner .banner-left .banner-heart img:nth-child(1) {
        width: 80px;
        height: 80px;
        top: 150px;
        left: 50px;
    }
    .hero-banner .banner-left .banner-heart img:nth-child(2) {
        left: 40px;
        top: 210px;
    }
    .hero-banner .banner-left .banner-heart img:nth-child(3) {
        top: 200px;
        left: 80%;
    }
    .hero-banner .banner-left .banner-heart img:nth-child(4) {
        top: 260px;
        left: 90%;
    }
    .hero-banner .banner-left .banner-heart img:nth-child(5) {
        left: 20px;
    }
    .hero-banner .banner-left .banner-heart img:nth-child(6) {
        left: 80%;
    }
    .hero-banner .banner-left .banner-heart img:nth-child(7) {
        left: 70px;
    }
    .hero-banner .banner-left .banner-heart img:nth-child(8) {
        top: 380px;
        left: 80%;
        animation-delay: 0.5s;
    }
    .hero-banner .owl-dots {
        bottom: -23px;
        margin: 0;
    }
    .hero-banner .owl-dots .owl-dot {
        width: 14px;
        height: 14px;
    }
    .hero-banner .owl-dots .owl-dot::before {
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 12px solid rgb(255, 255, 255);
        top: -8px;
    }
    .hero-banner .owl-dots .owl-dot.active::before {
        border-bottom: 12px solid #0c54a0;
    }
    .hero-banner .owl-dots .owl-dot + .owl-dot {
        margin-left: 15px;
    }
    .hero-banner .owl-dots .owl-dot.active::after {
        width: 6px;
        height: 6px;
        box-shadow: 1px 1px 0 0 white;
        right: 4px;
        bottom: 4px;
    }
    .health-section.default-section {
        padding: 50px 0;
    }
    .sub-text p {
        font-size: 20px;
    }
    .pro-sld-main {
        padding: 30px 10px 30px;
    }
    .sub-text {
        padding: 0 15px;
    }
    .nrt-top .text-center {
        font-size: 20px;
    }
    .nrt-ills::before, .nrt-ills::after {
        height: calc(100% - 374px);
    }
    .droplets {
        top: 110px;
    }
    .white-sec::before {
        bottom: -50px;
        height: 217px;
    }
    .nrt-logo {
        max-width: 180px;
        margin: 240px auto 0;
        padding: 30px;
    }
    .pro-vdo-sld .video-sld img {
        height: 400px;
        object-fit: cover;
        object-position: center;
    }
    .footer .about-us-col .text-content .para {
        font-size: 16px;
    }
    .footer-quick-links {
        margin-top: 30px;
    }
    .footer .footer-quick-links ul {
        text-align: left;
    }
    .two-col {
        justify-content: space-evenly;
    }
    .footer .footer-quick-links ul li + li {
        margin-top: 10px;
    }
    .footer .footer-quick-links ul {
        padding: 0;
        margin: 0;
    }
    .pro-sld-main a {
        font-size: 18px;
        margin-top: 30px;
    }
    .jorney-main .nav-pills .nav-link {
        width: 33.33%;
        padding: 0;
    }
    .jorney-main .slide-img img {
        width: 100%;
        max-width: 270px;
    }
    .jorney-main .nav-pills .nav-link:nth-last-child(-n+3) {
        margin-top: 20px;
    }
    .jorney-main .nav {
        margin: 30px 0;
    }
    .recipe-section .submit-button {
        margin: 10px 0;
    }
    .nr-det ul {
        display: inline-block;
        width: 100%;
    }
    .nr-det ul li {
        display: inline-block;
        width: 49%;
    }
    .nr-det {
        margin: 30px 0;
    }
    .nr-det ul li img {
        max-width: 80px;
    }
    .nr-det ul li:nth-last-child(-n+2) {
        margin-top: 20px;
    }
    /* Recipes Page */
    .reci-sec .row >div:nth-child(-n + 2) {
        margin-top:20px;
    }
    .reci-sec .row >div:nth-child(-n + 1) {
        margin-top: 0px;
    }

    /* Product Landing */
    .product-banner{
        padding: 100px 0 0;
    }
    .prod-leaf-sec::before{
        top: -65px;
    }
    .product-cook-oil .cook-fall-leaf > div:nth-child(3), .product-cook-oil .cook-oil-float-ele img:nth-child(1), .product-cook-oil .cook-oil-float-ele img:nth-child(2){
        display: none;
    }
    .prod-leaf-sec::after{
        left: 0;
        bottom: -120px;
    }
    .product-cook-oil .cook-oil-sec-hd{
        font-size: 20px;
    }
    .product-banner .banner-left img{
        width: 270px;
        margin-top: 40px;
    }
    .privacy-banner{
        padding: 100px 0 50px;
    }
    .health-section-wcv, .quality-section, .nrt-sec, .net-sec {
        padding: 50px 0;
    }
    .quality-section .row{
        flex-direction: column-reverse;
    }
    .product-section-1 .submit-button{
        margin-top: 0;
    }
        
    /* Career Detail Page */
    .job-desc-sec .job-expe h2{
        font-size: 26px;
        margin-bottom: 20px;
    }
    .job-opening .job-card .role-small-details{
        justify-content: space-between;
        gap: 0;
    }
    .product-banner{
        padding: 100px 0 0;
    }
    .prod-leaf-sec::before{
        top: -65px;
    }
    .product-cook-oil .cook-fall-leaf > div:nth-child(3), .product-cook-oil .cook-oil-float-ele img:nth-child(1), .product-cook-oil .cook-oil-float-ele img:nth-child(2){
        display: none;
    }
    .prod-leaf-sec::after{
        left: 0;
        bottom: -100px;
    }
    .product-cook-oil .cook-oil-sec-hd{
        font-size: 20px;
    }
    .product-banner .banner-left img{
        width: 200px;
        margin-top: 20px;
    }
    .privacy-banner{
        padding: 100px 0 50px;
    }
    .health-section-wcv, .quality-section, .nrt-sec, .net-sec {
        padding: 50px 0;
    }
    .home-prod-sldr.owl-carousel .owl-dots.disabled{
        display: none;
    }
    .product-section-1 .submit-button{
        margin-top: 0;
    }
    .product-banner{
        padding: 100px 0 0;
    }
    .prod-leaf-sec::before{
        top: -65px;
    }
    .product-cook-oil .cook-fall-leaf > div:nth-child(3), .product-cook-oil .cook-oil-float-ele img:nth-child(1), .product-cook-oil .cook-oil-float-ele img:nth-child(2){
        display: none;
    }
    .prod-leaf-sec::after{
        left: -60px;
        bottom: -100px;
    }
    .product-cook-oil .cook-oil-sec-hd{
        font-size: 20px;
    }
    .product-banner .banner-left img{
        width: 200px;
        margin-top: 20px;
    }
    .privacy-banner{
        padding: 100px 0 50px;
    }
    .health-section-wcv, .quality-section, .nrt-sec, .net-sec {
        padding: 50px 0;
    }
 
    .product-section-1 .submit-button{
        margin-top: 0;
    }

    /* Career Detail Page */
    .job-desc-sec .job-expe h2{
        font-size: 26px;
        margin-bottom: 20px;
    }
    /* contact-page css  */
    .cb-content{
        margin-top: 80px;
    }
    .map-part{
        margin-top: 0;
    }
    .dp_item {
        width: 340px;
    }
    .dp-wrap {
        margin: 20px auto 50px;
    }
    .default-section.blue-bg {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .jorney-main .tab-content .j-para .j-year {
        font-size: 40px;
    }
    .form-section .btm-cta {
        padding: 0;
    }
    .form-left {
        max-width: 400px;
        margin: 30px auto;
    }
    .form-part .form-image-part {
        border-bottom-right-radius: 0px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }
    .form-part .row {
        flex-direction: column-reverse;
    }
    .form-part .form-image-part img {
        max-width: 170px;
        margin-top: 30px;
    }
    .contact-map .form-part {
        max-width: 100%;
        margin-bottom: 20px;
    }
    .contact-details .row>div + div{
       margin-top: 30px;
    }
    .nrt-section::before {
        right: -68px;
        left: auto;
        width: 120px;
        height: 120px;
    }
    .nrt-section::after {
        width: 51px;
        height: 142px;
        top: 20px;
    }
    .form-section::after {
        width: 51px;
        height: 142px;
        top: 20%;
    }
    .net-sec  .form-part{
        margin-bottom: 50px;
    }
    .floating-obj img:nth-child(7) {
        width: 51px;
        height: 142px;
    }
    .floating-obj img:nth-child(1) {
        top: 1%;
        left: 0%;
    }
    .floating-obj img:nth-child(2) {
        width: 80px;
    }
    .floating-obj img:nth-child(3) {
        left: 80%;
        width: 90px;
    }
    .floating-obj img:nth-child(4) {
        width: 50px;
        bottom: 2%;
        left: 7%;
    }
    .floating-obj img:nth-child(5) {
        bottom: 0;
        left: 37%;
        width: 70px;
    }
    .floating-obj img:nth-child(6) {
        bottom: 3%;
        right: 10%;
        width: 50px;
    }
    .lab-ele img:nth-child(1) {
        width: 80px;
    }
    .lab-ele img:nth-child(2) {
        width: 70px;
    }
    .lab-ele img:nth-child(3) {
        width: 50px;
    }
    .lab-ele img:nth-child(4) {
        width: 45px;
    }
    .lab-ele img:nth-child(5) {
        width: 70px;
    }
    .lab-ele img:nth-child(6) {
        width: 60px;
        left: 85%;
        top: 4%;
    }
    .lab-ele img:nth-child(7) {
        width: 50px;
    }
    .inner-banne {
        padding: 140px 0 60px;
    }
    .quiz-sec{
        padding: 60px 0 30px;
    }
    .quiz-sec .panel-footer #question {
        font-size: 24px;
    }
    .quiz-sec .panel-footer #question p {
        letter-spacing: 1px;
        line-height: 1.2;
    }
    .quiz-sec .panel-footer #answers .options label {
        font-size: 18px;
    }

    /* career-page style  */
    .job-opening .job-card{
        display: inline-block;
        width: 100%;
    }

    /* why choose vimal section css  */
    .legacy-section .content-part p{
        text-align: center;
        font-size: 18px;
    }
    .quality-section .content-part p{
        text-align: center;
        font-size: 18px;
    }
    .sourcing-section .content-part p{
        text-align: center;
        font-size: 18px;
    }
    .image-part{
        padding: 30px;
    }

    /* branding page css  */
    .why-content{
        margin-top: 30px;
    }
    .social-post{
        margin-top: 100px;    
    }
    .vimal-journey .gen-sec p{
        text-align: center;
        font-size: 18px;
    }
    .vimal-journey .gen-sec .row{
        display: flex;
        flex-direction: column-reverse;
    }
    .tvc-section{
        padding: 30px 0px 15px 0px;
    }
    .tvc-section .container{
        padding: 0 !important;
    }
    .billboard-section{
        padding: 15px 0px 45px 0px;
    }
    .billboard-section .container{
        padding: 0 !important;
    }
    .buy-btn a {
        padding: 14px 10px;
    }
    .nrt-sec .submit-button.text-center {
        margin-bottom: 30px;
    }

    /* quiz banner  css  */
    .quiz-header-con{
        margin-top: 30px;
        padding: 10px 30px;
    }
    .wl-modal-lg .wl-modal-content {
        max-width: 90%;
    }
    .wl-video-modal .wl-modal-content .wl-modal-body iframe {
        min-height: 280px;
    }

    /* NRT Page */
    .nrt-tempe .gen-sec > .row{
        flex-direction: column-reverse;
    }

    /* oil-calender css  */
    .season-oil .h3-title{
        font-size: 20px;
        font-weight: 400;
    }
    .season-oil .pr-name{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }


}
@media screen and (max-width:575px) {
    .h2-title, .oil-quiz .h2-title, .animate-text span,.h2-blue,.h2-white,.form-inner .h2-white {
        font-size: 26px;
    }
    .pro-sld-main a {
        font-size: 15px;
        max-width: 140px;
    }
    .home-prod-sldr.owl-carousel{
        padding: 0 10px;
    }
    .nrt-logo {
        max-width: 162px;
        margin: 244px auto 0;
        padding: 20px;
    }
    .white-sec::before {
        height: 198px;
    }
    .nrt-ills::before, .nrt-ills::after {
        height: calc(100% - 359px);
    }
    .droplets > div:nth-child(1) img,.droplets > div:nth-child(2) img {
        width: 20px;
    }
    .droplets > div:nth-child(3) img,.droplets > div:nth-child(7) img{
        width: 15px;
    }
    .droplets > div:nth-child(4) img,.droplets > div:nth-child(9) img{
        width: 15px;
    }
    .droplets > div:nth-child(8) img,.droplets > div:nth-child(5) img{
        width: 10px;
    }
    .droplets > div:nth-child(10) img,.droplets > div:nth-child(6) img {
        width: 15px;
    }
    .droplets > div:nth-child(11) img {
        width: 20px;
    }
    .dp_item {
        width: 100%;
        right: 0;
    }
    #dp-slider, .dp-img img {
        max-width: 270px;
        width: 100%;
        display: block;
        margin: 0 auto;
    }
    .floating-ele img:nth-child(1) {
        width: 70px;
    }
    .floating-ele img:nth-child(2) {
        width: 70px;
        left: 9%;
    }
    .floating-ele img:nth-child(3) {
        width: 30px;
        left: 8%;
    }
    .floating-ele.right img:nth-child(1) {
        width: 34px;
        top: 0;
    }
    .floating-ele.right img:nth-child(2) {
        width: 60px;
        left: 80%;
    }
    .floating-ele.right img:nth-child(3) {
        width: 26px;
    }
    .floating-ele.right img:nth-child(4) {
        width: 33px;
        left: 90%;
    }
    .floating-ele.right img:nth-child(5) {
        width: 50px;
    }
    /* career css  */
    .job-opening .job-card .role-small-details{
        display: inline-block;
        /* flex-direction: column;
        align-items: center; */
        /* gap: 25px; */
    }
    .wl-video-modal .wl-modal-content .wl-modal-body iframe {
        min-height: 240px;
    }

    /* oil calender css  */
    
}
@media screen and (max-width:479px) {
    .pro-sld-main a {
        font-size: 16px;
        max-width: 140px;
    }
    .hero-banner .banner-right .h1-title, .inner-banner .banner-right .h1-title{
        font-size: 46px;
    }
    .nrt-ills::before, .nrt-ills::after {
        height: calc(100% - 316px);
        top: 215px;
    }
    .white-sec::before {
        height: 188px;
    }
    .home-prod-sldr.owl-carousel{
        padding: 0;
    }
    .nrt-logo {
        margin: 390px auto 0;
        max-width: 164px;
    }
    .nrt-top .text-center {
        font-size: 18px;
    }
    .pro-vdo-sld.owl-carousel .item {
        padding: 0;
    }
    .footer .footer-quick-links ul li a {
        font-size: 15px;
    }
    #dp-slider, .dp-img img {
        max-width: 230px;
    }
    .socials li a {
        width: 40px;
        height: 40px;
    }
    .nrt-section::after {
        width: 30px;
        height: 102px;
        top: 10px;
    }
    .floating-ele img:nth-child(1) {
        bottom: 17%;
        left: 0;
    }
    .floating-ele img:nth-child(2) {
        bottom: 5%;
    }
    .counter-main .count-box {
        max-width: 270px;
        width: 100%;
        margin: 0 auto;
    }
    .nr-det ul li {
        width: 100%;
    }
    .nr-det ul li + li {
        margin-top: 20px;
    }
    .product-section .row > div {
        flex-shrink: 0;
        width: 100%;
        max-width: 100%;
    }
    .product-section .prod-item {
        max-width: 270px;
        margin: 0 auto 10px;
    }
    .h1-title{
        font-size: 45px;
    }
    .h1-title span{
        font-size: 35px;
    }
    .job-opening .job-card .role-small-details{
        display: inline-block;
    }
}
@media screen and (max-width:359px) {
    .pro-sld-main a {
        font-size: 16px;
    }
    .jorney-main .nav-pills .nav-link {
        width: 33.33%;
        padding: 0;
    }
    .animate-text span {
        font-size: 30px;
    }
    .nrt-ills::before, .nrt-ills::after {
        height: calc(100% - 375px);
        top: 260px;
    }
    .nrt-section .h1-title, .vimal-journey .h1-title, .recipe-section .h1-title {
        font-size: 48px;
    }
    .nrt-logo {
        max-width: 166px;
    }
    #dp-slider, .dp-img img {
        max-width: 190px;
    }
    .h1-title{
        font-size: 42px;
    }
}